{% set username = aek.request("username") %}
{% set password = aek.request("password") %}

{% set service = aek.get_anon_service("ACCOUNT_BALANCE") %}

{% if username %}
  {{ service.set_parameter("username",username) }}
{% endif %}

{% if password %}
  {{ service.set_parameter("password",password) }}
{% else %}
  {% set service = aek.get_service("ACCOUNT_BALANCE") %}
{% endif %}

{{ service.set_method("POST") }}

{{ aek.respond(service.response) }}
